#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
*.ipl
classes

#Maven
target
release.properties
pom.xml.*
res/menu/main.xml

src/fynn/layout/drawable/TitleBarBgSkyBlue.java

src/fynn/layout/drawable/ButtonSingleSelector.java

src/fynn/layout/drawable/ButtonLeftSelector.java

src/fynn/layout/DialogTitleBarSkyBlue.java

src/fynn/layout/DialogNormal.java

src/fynn/layout/DialogTitleBar.java

res/values/dimens.xml

res/values/strings.xml

res/values-v14/styles.xml

src/fynn/layout/drawable/ButtonCenterSelector.java

src/fynn/layout/drawable/ButtonRightSelector.java

src/fynn/layout/drawable/DialogBG.java

res/values-v11/styles.xml

res/values-sw720dp-land/dimens.xml

res/values-sw600dp/dimens.xml
